$card_border_radius: 25px;
$card_margin_y: 30px;
$card_padding_x: 50px;
$card_padding_y: 75px;


.tech_stacks {
  padding: $page_content_padding 0;
  
  background-color: $color_grey9;

  .cards_wrapper {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    & > * {
      flex-basis: calc(50% - #{$card_margin_y / 2});
      margin-bottom: $card_margin_y;
    }
    .title_card {
      position: relative;
      
      padding: $card_padding_y $card_padding_x;

      background-color: #191f28;
      border-radius: $card_border_radius;

      overflow: hidden;
      
      .title {
        z-index: 1;

        position: relative;
        
        font-size: 32px;
        font-weight: bold;

        color: $color_grey5;

        word-break: keep-all;

        .highlight {
          color: #ffffff;
        }
      }
      .text_javascript {
        z-index: 0;
        
        position: absolute;

        display: block;
        
        right: $card_padding_x / 3;
        bottom: $card_padding_y / 3;
        
        font-size: 96px;
        line-height: 1;
        letter-spacing: -5px;

        color: #f6df34;

        @media (max-width: $bp_sm) {
          font-size: 64px;
        }
      }
    }
    .stack_card {
      padding: $card_padding_x $card_padding_y;
      
      background-color: #ffffff;

      border-radius: $card_border_radius;

      .title {
        font-size: 32px;
        font-weight: bold;

        color: $color_grey5;

        word-break: keep-all;

        .highlight {
          color: #000000;
        }
      }

      .main_wrapper {
        margin-top: 50px;
      }
      .others_wrapper {
        margin-top: 25px;
      }
    }
  }
}