$card_border_radius: 25px;

.card {
  position: relative;

  width: 100%;
  height: 100%;

  border-radius: $card_border_radius;

  background-color: #ffffff;
  box-shadow: 4px 12px 40px 6px rgba($color: #000000, $alpha: 0.09);

  overflow: hidden;

  &.no_shadow {
    box-shadow: unset;
  }

  .active_button {
    position: absolute;
    right: 10px;
    bottom: 10px;

    padding: unset;

    opacity: 1;
    background-color: transparent;
    border: none;

    font-size: 32px;

    color: $color_grey3;

    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &.dark {
      color: #ffffff;
    }
    &.light {
      color: #000000;
    }
  }
}
