@use "sass:math";

$card_margin_y: 30px;

.stacks {
  padding: $page_content_padding 0;

  background-color: $color_grey9;

  .cards_wrapper {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    .card_item {
      flex-basis: calc(50% - #{math.div($card_margin_y, 2)});
      margin-bottom: $card_margin_y;

      @media (max-width: $bp_sm) {
        flex-basis: 100%;
      }

      .card_content {
        width: 100%;
        height: 100%;

        padding: $card_padding_y $card_padding_x;

        &.title_card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          background-color: #191f28;

          .title {
            z-index: 1;

            position: relative;

            color: $color_grey5;

            .highlight {
              color: #ffffff;
              word-break: keep-all;
            }
          }
          .text_javascript {
            display: block;

            margin-bottom: 25px;

            font-size: 200px;
            line-height: 1;
            letter-spacing: -5px;

            color: #f6df34;

            @media (max-width: $bp_sm) {
              font-size: 64px;
            }
          }
        }
        &.stack_card {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          background-color: #ffffff;

          .title {
            color: $color_grey5;

            .highlight {
              color: #000000;
              word-break: keep-all;
            }
          }

          .main_wrapper {
            margin-top: 50px;
          }
          .others_wrapper {
            margin-top: 50px;
          }
        }
        &.achievement_card {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          background-color: $color_apple_blue;

          .title {
            color: rgba($color: #ffffff, $alpha: 0.6);

            .highlight {
              color: #ffffff;
              word-break: keep-all;
            }
          }

          .item_wrapper {
            margin-top: 50px;

            font-size: 20px;
            font-weight: bold;

            word-break: keep-all;

            color: rgba($color: #ffffff, $alpha: 0.5);

            @media (max-width: $bp_sm) {
              font-size: 18px;
            }

            .highlight {
              color: #ffffff;
              word-break: keep-all;
            }
            .note {
              font-size: 0.5em;
            }
          }
          .note_wrapper {
            margin-top: 15px;

            font-size: 12px;
            color: rgba($color: #ffffff, $alpha: 0.5);
          }
        }
      }
    }
  }
}
