$card_border_radius: 25px;
$card_margin_y: 30px;
$card_padding_x: 50px;
$card_padding_y: 75px;

@mixin card_title {
  font-size: 32px;
  font-weight: bolder;
  word-break: keep-all;
  letter-spacing: 0;
  line-height: 1.4;
}


.stacks {
  padding: $page_content_padding 0;
  
  background-color: $color_grey9;

  .cards_wrapper {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    & > * {
      flex-basis: calc(50% - #{$card_margin_y / 2});
      margin-bottom: $card_margin_y;

      @media (max-width: $bp_sm) {
        flex-basis: 100%;
      }
    }
    .title_card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      padding: $card_padding_y $card_padding_x;

      background-color: #191f28;
      border-radius: $card_border_radius;

      overflow: hidden;
      
      .title {
        z-index: 1;

        position: relative;
        
        @include card_title;
        
        color: $color_grey5;
        
        .highlight {
          color: #ffffff;
        }
      }
      .text_javascript {
        display: block;

        margin-bottom: 25px;
        
        font-size: 200px;
        line-height: 1;
        letter-spacing: -5px;

        color: #f6df34;

        @media (max-width: $bp_sm) {
          font-size: 64px;
        }
      }
    }
    .stack_card {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      padding: $card_padding_y $card_padding_x;
      
      background-color: #ffffff;

      border-radius: $card_border_radius;

      .title {
        @include card_title;

        color: $color_grey5;

        .highlight {
          color: #000000;
        }
      }

      .main_wrapper {
        margin-top: 50px;
      }
      .others_wrapper {
        margin-top: 50px;
      }
    }
    .achievement_card {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      padding: $card_padding_y $card_padding_x;
      
      background-color: $color_apple_blue;

      border-radius: $card_border_radius;
      
      .title {
        @include card_title;

        color: rgba($color: #ffffff, $alpha: 0.6);

        .highlight {
          color: #ffffff;
        }
      }

      .item_wrapper {
        margin-top: 50px;

        font-size: 20px;
        font-weight: bold;

        color: rgba($color: #ffffff, $alpha: 0.5);

        .highlight {
          color: #ffffff;
        }
        .note {
          font-size: 0.5em;
        }
      }
      .note_wrapper {
        margin-top: 15px;
        
        font-size: 12px;
        color: rgba($color: #ffffff, $alpha: 0.5);
      }
    }
  }
}