.career_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 15px 0;

  border-bottom: 1px solid $color_grey7;

  .name {
    font-size: 16px;
    font-weight: bold;
  }
  .career_text {
    font-size: 14px;
    font-weight: 400;

    color: $color_grey5;
  }
  .career_desc {
    font-size: 14px;
  }

  .button_right {
    padding: unset;
    margin-left: 25px;
    
    outline: unset;
    border: none;
    background-color: transparent;

    font-size: 24px;
    
    cursor: pointer;

    &.button_green {
      color: $color_apple_green;
    }
    &.button_red {
      color: $color_apple_red;
    }
  }
}