.review {
  padding: $page_content_padding 0;

  background-color: black;

  .title {
    margin-bottom: 100px;

    font-size: 48px;
    font-weight: bolder;

    color: #ffffff;

    @media (max-width: $bp_sm) {
      font-size: 36px;
    }
  }
}
