.profile {
  padding: $page_content_padding 0;

  background-color: $color_grey9;

  .title {
    margin-bottom: 150px;

    font-size: 36px;
    font-weight: bolder;
  }

  .business_card {
    max-width: 450px;

    margin: 0 auto;
    padding: 35px 50px;

    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    .name {
      font-size: 24px;
      font-weight: bolder;
    }
    .role {
      font-size: 14px;

      color: $color_grey4;
    }

    .link_wrapper {
      margin-top: 50px;

      .item {
        font-size: 12px;

        .link_name {
          font-weight: 500;
        }
      }
    }
  }
}
