.project {
  padding: $page_content_padding 0;

  background-color: #ffffff;

  .title {
    margin-bottom: 100px;

    font-size: 48px;
    font-weight: bolder;

    @media (max-width: $bp_sm) {
      font-size: 36px;
    }
  }

  .cards_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .more_text {
    margin-top: 50px;
    text-align: center;

    color: $color_grey4;

    font-weight: lighter;

    word-break: keep-all;
  }
}
