.card_title {
  font-size: 36px;
  font-weight: bolder;
  word-break: keep-all;
  letter-spacing: 0;
  line-height: 1.4;

  @media (max-width: $bp_sm) {
    font-size: 32px;
    line-height: 1.3;
  }

  & > * {
    word-break: normal;
  }
}
