$bp_sm: 800px;

$color_primary: #1e1e1e;

$color_grey1: #212121;
$color_grey2: #424242;
$color_grey3: #616161;
$color_grey4: #757575;
$color_grey5: #bdbdbd;
$color_grey7: #e8e8e8;
$color_grey9: #f8f8f8;

$color_apple_blue: #007aff;
$color_apple_green: #34c759;
$color_apple_red: #ff3b30;

$content_max_width: 1080px;

$page_content_padding: 200px;

$card_padding_x: 50px;
$card_padding_y: 75px;

@media (max-width: $bp_sm) {
  $card_padding_x: $card_padding_x * 0.75 !global;
  $card_padding_y: $card_padding_y * 0.75 !global;
}
