$bp_sm: 800px;


$color_primary: #1e1e1e;

$color_grey1: #212121;
$color_grey2: #424242;
$color_grey3: #616161;
$color_grey4: #757575;
$color_grey5: #BDBDBD;
$color_grey9: #f8f8f8;

$content_max_width: 1200px;

$page_content_padding: 200px;